body {
    background: linear-gradient(to bottom right, rgb(146, 5, 5), purple, rgb(82, 4, 17));
    font-family: 'Roboto slab';
    font-size: 30px;
}

.titre {
  text-align: center;
  font-size: 50px;
  font-family: cursive;
  padding-top: 150px;
  border: groove 30px burlywood;
  padding: 20px;
  margin: 80px 300px 0px 300px;
}

h2 {
    text-decoration: underline;
}

.profil {
    margin-top: 100px;
    width: 250px;
    height: 250px;
    border-radius: 150px 150px 150px 150px;
    animation: 5s ease-in 1s reverse both running slidein;
}

@keyframes slidein {
    from {
        opacity: 1;
        transform: translatex(550px);
    }
    to {
        opacity: 0;
        transform: translatex(1000px);
    }
}

h2 {
    font-size: 40px;
    padding-left: 100px;
    padding-top: 150px;
    padding-bottom: 60px; 
}

.presentation {
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
}

.img1 {
    width: 300px;
    height: 300px;
    padding-right: 80px;
    padding-bottom: 80px;
    float: right;
    border-radius: 250px 250px 250px 250px;
}

.img2 {
    width: 300px;
    float: left;
    border-radius: 150px 150px 150px 150px;
}

a {
    border: solid 5px rgb(13, 197, 13);
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    color: aliceblue;
    background-color: black;
}

.button {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}

.img3 {
    width: 130px;
    height: auto;
    animation: 3s linear 1s infinite running ping;
}

@keyframes ping {
    from {
        opacity: 1;
        transform: translatex(-800px);
    }
    to {
        opacity: 2;
        transform: translatex(800px);
    }
    }


footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 25px 25px 25px 25px;
}

@media screen and (max-width: 600px) {
    .img1 {
        width: 150px;
        height: 150px;
        padding-right: 30px;
        padding-bottom: 30px;
        float: right;
        border-radius: 100px 100px 100px 100px;
    }

    .img2 {
        width: 150px;
        float: left;
        border-radius: 75px 75px 75px 75px;
    }

    .img3 {
        width: 80px;
        height: auto;
    }

    footer {
        margin-right: 20px;
        margin-left: 20px;
    }
    
}