body {
    background-color: rgb(130, 238, 233);
    font-family: 'Roboto slab';
    font-size: 30px;
}

.titre {
  text-align: center;
  font-size: 50px;
  font-family: cursive;
  padding-top: 150px;
  border: groove 30px rgb(42, 218, 194);
  padding: 20px;
  margin: 80px 300px 0px 300px;
}

h2 {
    font-size: 40px;
    padding-left: 100px;
    padding-top: 180px;
    padding-bottom: 60px; 
}

.presentation {
    padding-left: 130px;
    text-align: center;
}

.img1 {
    width: 300px;
    height: 300px;
    padding-right: 80px;
    padding-bottom: 80px;
    float: right;
    border-radius: 250px 250px 250px 250px;
}

a {
    border: solid 5px rgb(13, 197, 13);
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    color: aliceblue;
    background-color: black;
}

.button {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}